version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: grocy-app
    volumes:
      - /container-data/sinali-grocy:/var/www/html/data
    restart: unless-stopped
